body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #a25a5a;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background: rgb(209, 80, 80);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333333;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

.guest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff9e;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px 0;
  border-radius: 5px;
}

.guest span {
  flex-grow: 1;
}

button {
  background: #c40a0aeb;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #cc0000;
}

input[type='checkbox'] {
  margin-right: 20px;
}
